NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBzSl9C8WNuD5I815tNSYy6ogKCTBkveqc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=getrad-e4944.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=getrad-e4944
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=getrad-e4944.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=545667606654
NEXT_PUBLIC_FIREBASE_APP_ID=1:545667606654:web:ad64449e1e46125054102f
